---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
---
      
<section id="changelog" class="pb-20">
    <Container>
        <div style="margin: 10%;text-align: justify;" >
        <Paragraph className="mt-8" >
            <div class="container">

                <div class="version-card">
                    <div class="version-title">v1.0.0 <span class="latest-tag">Latest</span></div>
                    <p>What's Changed</p>
                    <br></br>
                    <ul class="change-list">
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/310">Crear pruebas de integración /290 by @edurobrus</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/311">Release/v0.3.1 by @Miguel-Angel-Roldan-Garcia</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/314">Crear testing de Authentication (controlador) /210 by @nxniya</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/313">Añadir mapa en la página de detalles de piso /56 by @guigalde</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/317">Release/v0.3.2 by @Miguel-Angel-Roldan-Garcia</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/316">Release v0.3.2 by @Miguel-Angel-Roldan-Garcia</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/324">Search Engine Optimization /322 by @nxniya</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/325">Recuperación de contraseña /323 by @Miguel-Angel-Roldan-Garcia</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/326">Clarificar partes aplicacion /318 by @darkgigi</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/339">Añadido cambiar visibilidad de contraseñas /337 by @TerryIsmael</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/328">Arreglar chat en piso sin inquilinos /327 by @Miguel-Angel-Roldan-Garcia</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/341">Cambiado vite.config para solucionar warnings /340 by @TerryIsmael</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/330">Arreglar pisos con likes en comun /329 by @edurobrus</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/342">Añadir iniciar chat con propietario /334 by @marmarsol4</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/347">Arreglar filtros /336 by @Alvurqmar</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/346">Añadir limitacion de chats para plan BASIC /344 by @marmarsol4</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/331">Solucionar incidencias en registro /319 by @guigalde</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/348">Eliminación de chats /335 by @nxniya</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/350">Añadir anuncios en pantalla de inicio /343 by @marcallop7</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/349">Mejorar visuales de la pantalla de chat /338 by @guigalde</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/351">Release/v1.0.0 by @TerryIsmael</a></li>
                    </ul>
                    <br></br>
                    <p>Full Changelog: <a href="https://github.com/Cohabify/Cohabify/compare/v0.3.1...v1.0.0">v0.3.1...v1.0.0</a></p>
                </div>
                
                <div class="version-card">
                    <div class="version-title">v0.3.1</div>
            
                    <p>What's Changed</p>
                    <br></br>
                    <ul class="change-list">
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/224">Creación test tag service /215 by @juanrg8</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/244">Release/v0.2.0 by @Miguel-Angel-Roldan-Garcia</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/264">docs: Añadido Commitment Agreement by @marmarsol4</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/263">docs: Añadido Commitment Agreement by @TerryIsmael</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/277">Cambiar datos de prueba /266 by @juanrg8</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/278">Implementar pantalla de chats /273 by @juamornav3</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/279">Implementar sistema de pago seguro /49 by @olemornav</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/284">Crear testing de UserRatings (servicio) /208 by @Alvurqmar</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/281">Mejorar pantalla de inicio /160 by @marcallop7</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/275">Crear lógica de estadísticas de propietario /272 by @nxniya</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/276">Implementar pisos en común (pantalla y lógica) /274 by @edurobrus</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/283">Implementar verificación de correo electrónico /262 by @Miguel-Angel-Roldan-Garcia</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/286">Arreglo de incidencias S2 /267 by @TerryIsmael</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/285">Implementar promociones /269 by @guigalde</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/295">Crear pantalla de estadísticas de propietario /271 by @nxniya</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/296">Crear testing de UserRatings (controlador)/207 by @Alvurqmar</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/298">Modelos y crud de chat y message /288 by @guigalde</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/301">Creada vista de confirmacion para borrar cuenta /72 by @Alvurqmar</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/302">Problema refresco claves google /299 by @TerryIsmael</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/300">Pruebas de extremo extremo login /291 by @TerryIsmael</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/297">Resolver incidencias /294 by @juamornav3</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/303">Crear pasarela de pago para promociones y anuncios extras /289 by @olemornav</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/307">Arreglar tests /306 by @Miguel-Angel-Roldan-Garcia</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/304">Crear funcionalidad de chat /287 by @Miguel-Angel-Roldan-Garcia</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/305">Mejorar estilo visual pantallas /280 by @darkgigi</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/309">Añadir secretos a workflows de github actions /308 by @rafgoncas1</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/282">Conectar api de verifiacion sms /58 by @guigalde</a></li>
                        <li><a href="https://github.com/Cohabify/Cohabify/pull/312">Release/v0.3.1 by @Miguel-Angel-Roldan-Garcia</a></li>
                    </ul>
                    <br></br>
                    <p>Full Changelog: <a href="https://github.com/Cohabify/Cohabify/compare/v0.2.0...v0.3.1">v0.2.0...v0.3.1</a></p>
                </div>
            
                <!-- Más tarjetas de versión -->
                
                    <div class="version-card">
                        <div class="version-title">v0.2.0</div>
                
                        <p>What's Changed</p>
                        <br></br>
                        <ul class="change-list">
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/127">Governify by @TerryIsmael</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/145">Release/v0.1.0 by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/144">Release/v0.1.0 by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/165">Añadir datos a JWT /155 by @guigalde</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/167">Mejorar vista de detalles de anuncio de un piso /162 by @darkgigi</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/168">Revisar modelo de usuario /163 by @guigalde</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/170">Mejorar Registro /157 by @olemornav</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/166">Mejorar Detalles de usuario /159 by @marmarsol4</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/171">Crear validación para contraseña segura /152 by @juanrg8</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/169">feat: Add real user image, fix color, add search option /156 by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/173">fix: validación de tamaño máximo en campos de texto by @olemornav</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/172">Feat/153 arreglar fallos de inicio de sesión en versión desplegada by @Miguel-Angel-Roldan-Garcia</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/174">Mejorar visuales de formulario de anuncios de casas /150 by @juamornav3</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/179">feat: Mejorar pantalla de listado de viviendas /161 by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/176">Mejorar Iniciar sesión /158 by @edurobrus</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/175">Feat/154-arreglar-guardado-de-imágenes by @Miguel-Angel-Roldan-Garcia</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/180">Añadir sonarcloud /164 by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/181">feat: separate sonar projects by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/188">Añadir autor al crear anuncio de viviendas /183 by @juamornav3</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/189">Feat/76 implementar detalles de usuario by @marmarsol4</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/190">Editar anuncio de usuario /186 by @TerryIsmael</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/192">Guardar usuario en frontend /191 by @TerryIsmael</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/194">/185 hacer filtros funcionales by @guigalde</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/193">Implementar cambio de pricing /187 by @olemornav</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/196">Editar anuncio de vivienda /184 by @juamornav3</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/197">Crear panel administración anuncios /71 by @marmarsol4</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/195">Crear sistema de comentarios /182 by @edurobrus</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/198">Edicion perfil /73 by @nxniya</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/200">Establecer límites por pricing /48 by @Miguel-Angel-Roldan-Garcia</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/202">Funcionalidad likes pisos y personas /201 by @marmarsol4</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/203">Crear testing de publicar anuncio de usuario /96 by @guigalde</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/204">Función para cargar datos de una casa al crear un anuncio según su nº de catastro /199 by @Alvurqmar</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/221">Crear testing de House (servicio) /214 by @edurobrus</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/222">Crear testing de House (controlador) /212 by @edurobrus</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/228">Validar el estado de la suscripción del usuario /218 by @guigalde</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/229">Creado tests de servicio de usuario /206 by @guigalde</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/223">Validar usuario logueado en todos los controladores /219 by @olemornav</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/226">Crear testing authentication servicio /211 by @darkgigi</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/230">Preparar oauth con google /17 by @marmarsol4</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/231">Implementar valoraciones de piso /217 by @Alvurqmar</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/233">feat: Actualizados datos iniciales by @TerryIsmael</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/232">Crear testing de user (controlador)/205 by @guigalde</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/238">Poner fotos diferentes a cada vivienda de los datos iniciales /237 by @edurobrus</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/235">Crear testing de HouseAdvertisement (servicio) /209 by @nxniya</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/239">Arreglar campos de formulario de registro /236 by @Miguel-Angel-Roldan-Garcia</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/225">Creación test tag controller /216 by @juanrg8</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/234">Crear testing de HouseAdvertisement (controlador) /213 by @nxniya</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/241">Añadido checkbox para aceptar CA y política de privacidad /240 by @darkgigi</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/242">Cambios de develop a la rama release by @Miguel-Angel-Roldan-Garcia</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/253">Fallo en filtrado con usuario no logueado/249 by @olemornav</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/254">Ocultado botón de comentar y borrar comentario sin estar logeado /247 by @marcallop7</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/259">Arreglar filtros de viviendas y users /257 by @guigalde</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/258">Arreglar campo de imágenes para que no pueda ser nulo /250 by @juamornav3</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/261">Arreglar publicación vivienda /260 by @juamornav3</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/243">Release/v0.2.0 by @Miguel-Angel-Roldan-Garcia</a></li>
                        </ul>
                        <br></br>
                        <p>Full Changelog: <a href="https://github.com/Cohabify/Cohabify/compare/v0.1.0...v0.2.0">v0.1.0...v0.2.0</a></p>
                    </div>

                    <div class="version-card">
                        <div class="version-title">v0.1.0 <span class="latest-tag">Pre-release</span></div>
                    
                        <p>What's Changed</p>
                        <br></br>
                        <ul class="change-list">
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/104">Feat/pagina principal by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/103">Feat/Modelo-Datos-Usuario by @Miguel-Angel-Roldan-Garcia</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/105">Feat/modelo datos anuncio usuario by @TerryIsmael</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/106">fix: Cambiado ids y refactorizado BaseEntity by @TerryIsmael</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/107">Create info.yml by @TerryIsmael</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/108">Update info.yml by @TerryIsmael</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/109">Update info.yml by @TerryIsmael</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/110">Fix: background and responsiveness by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/100">Feat/modelo-datos-piso by @darkgigi</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/101">Feat/modelo datos anuncio by @marcallop7</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/102">feat: Modelos de datos de valoraciones by @olemornav</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/113">Feat: Create and import navbar by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/115">Feat: Redesign styles by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/116">Feat: Add colour to text by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/114">Feat/crud anuncios piso by @darkgigi</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/111">feat: visuales de pantalla de login https://github.com/Cohabify/Cohabify/pull/77 by @olemornav</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/112">feat: Addition of login logic and JWT by @Miguel-Angel-Roldan-Garcia</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/120">Feat/pantalla registro by @olemornav</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/117">Feat: CRUD Houses by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/123">Feat/listar vivienda by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/124">Feat/vista detalles anuncio usuario by @marmarsol4</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/125">fix: Quitado margen superior (mejora visual) by @marmarsol4</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/126">Feat/5-modelo-crud-usuario-tag-datos-iniciales by @juanrg8</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/121">feat: User register logic by @Miguel-Angel-Roldan-Garcia</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/128">Feat/crud anuncios usuario by @marmarsol4</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/119">feat: User details logic by @Miguel-Angel-Roldan-Garcia</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/129">fix: problemas de importación en BaseEntity by @olemornav</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/131">Feat/listar vivienda by @rafgoncas1</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/133">Incremento/retocar formulario login registro by @Miguel-Angel-Roldan-Garcia</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/130">feat: CRUD de UserRatings by @guigalde</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/135">Incremento/retocar formulario login registro by @olemornav</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/136">Feat/vista detalles anuncio usuario by @marmarsol4</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/137">fix: Cambiado nombre categoría by @marmarsol4</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/138">fix: Controlada excepción by @marmarsol4</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/134">PR Feat/82-Vista-detalles-anuncio-piso/82 by @darkgigi</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/140">feat/83 vista publicar anuncios búsqueda piso by @TerryIsmael</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/141">Delete backend/src/main/resources/application.properties by @TerryIsmael</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/142">config: Añadido properties y target a gitignore by @TerryIsmael</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/139">Crear anuncio de piso /122 by @juamornav3</a></li>
                            <li><a href="https://github.com/Cohabify/Cohabify/pull/143">Feat/88 vista listado anuncios usuario by @nxniya</a></li>
                        </ul>
                        <br></br>
                        <p>Full Changelog: <a href="https://github.com/Cohabify/Cohabify/commits/v0.1.0">v0.1.0</a></p>
                    </div>                    
            </div>
            <style>
                
                body {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    background-color: #f4f4f4;
                    margin: 0;
                    padding: 20px;
                }
                .container {
                    width: 80%;
                    margin: auto;
                }
                .version-card {
                    background-color: #fff;
                    border-radius: 8px;
                    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
                    margin-bottom: 20px;
                    padding: 20px;
                }
                .version-title {
                    font-size: 20px;
                    color: #333;
                    margin-bottom: 10px;
                }
                .latest-tag {
                    display: inline-block;
                    background-color: #008000;
                    color: #fff;
                    padding: 2px 8px;
                    border-radius: 5px;
                    font-size: 12px;
                    margin-left: 10px;
                }
                .change-list {
                    list-style: none;
                    padding: 0;
                }
                .change-list li {
                    padding: 5px 0;
                    border-bottom: 1px solid #eee;
                }
                .change-list li:last-child {
                    border-bottom: none;
                }
                .change-list a {
                    text-decoration: none;
                    color: #008000;
                }
                .change-list a:hover {
                    text-decoration: underline;
                }
            </style>
        </Paragraph>
        </div>
    </Container>
</section>

  