---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
---
      
<section id="pricing" class="pb-20">
    <Container>
        <div style="margin-top: 10%" >
            <Paragraph className="mt-8" >
            <!-- Añade tu HTML aquí -->
            <div class="row mb-3">
            <div v-else class="pricing-container" style="padding:0 12vw ;">
                        <div class="col">
                            <div class="card card1">
                                <h2 class="fw-bold" style="color: #28426B;">Básico</h2>
                                <p class="fw-bold"><em>Para nuevos usuarios</em></p>
                                <div class="modal-body">
                                    
                                        <img src="/images/Check.png" style="height: 20px; width: 20px;"></img><span > Ver publicaciones ilimitadas</span>
                                        <br>
                                        <br>
                                        <img src="/images/Check.png" style="height: 20px; width: 20px;"><span > 3 chats en paralelo</span>
                                        <br>
                                        <br>
                                        <img src="/images/Check.png" style="height: 20px; width: 20px;"><span > Perfil personalizado</span>
                                        <br>
                                        <br>
                                        <img src="/images/Check.png" style="height: 20px; width: 20px;"><span > Hacer publicación</span>
                                
                                    <div style="text-align: center;">
                                        <button><a href="https://ppl-cohabify.onrender.com/login" class="block">¡Lo quiero!</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col" style="margin-left: 40px; margin-right: 40px;">
                            <div class="card card2">
                                <h2 class="fw-bold"  style="color: #28426B;">Explorador</h2>
                                <p class="fw-bold"><em>Para los más exigentes</em></p>
                                <div class="modal-body">
                                    
                                        <img src="/images/Check.png" style="height: 20px; width: 20px;"><span > Ver publicaciones ilimitadas</span>
                                        <br>
                                        <br>
                                        <img src="/images/Check.png" style="height: 20px; width: 20px;"><span class="fw-bold" > Chats ilimitados</span>
                                        <br>
                                        <br>
                                        <img src="/images/Check.png" style="height: 20px; width: 20px;"><span class="fw-bold"> Perfil verificado</span>
                                        <br>
                                        <br>
                                        <img src="/images/Check.png" style="height: 20px; width: 20px;"><span class="fw-bold"> Acceso anticipado*</span>
                                
                                    <div style="text-align: center;">
                                        <button><a href="https://ppl-cohabify.onrender.com/login" class="block">¡Lo quiero!</a></button>
                                    </div>
                                </div>
                            </div>
                            <p style="margin-top:1vw"><em>* El plan explorador podrá ver las nuevas publicaciones con 24 horas de antelación. El plan básico sólo podrá ver 
                                        publicaciones con más de un día de antigüedad
                            </em></p>
                        </div>
                        <div class="col">
                            <div class="card card3">
                                <h2 class="fw-bold" style="color: #28426B;">Propietario</h2>
                                <p class="fw-bold"><em>Para nuestros propietarios</em></p>
                                <div class="modal-body">
                                   
                                        <span class="fw-bold"><img src="/images/Check.png" style="height: 20px; width: 20px;"> Publicar viviendas</span>
                                        <br>
                                        <br>
                                        <br>
                                        <img src="/images/Check.png" style="height: 20px; width: 20px;"><span class="fw-bold" > Chats ilimitados</span>
                                        <br>
                                        <br>
                                        <img src="/images/Check.png" style="height: 20px; width: 20px;"><span class="fw-bold"> Estadísticas</span>
                                        <br>
                                        <br>
                                        <br style="height: 20px; width: 20px;">
                                        
                                
                                    <div style="text-align: center;">
                                        <button><a href="https://ppl-cohabify.onrender.com/login" class="block">¡Lo quiero!</a></button>
                                    </div>
                                </div>
                            </div>
                            <p style="margin-top:1vw"><em>* El plan propietario debe pagar 5€ por cada propiedad adicional que desee publicar</em></p>
                        </div>
                </div>
            </div>          
            </div>
            <div class="row">
                <div v-else style="margin:10vh">
                <div class="col card card4">
                    <h3 class="fw-bold" style="color: #28426B;">Promociones</h3>
                    <p class="fw-bold"><em>Promociona tus anuncios de vivienda o tu anuncio como compañero. Durante 24 horas el anuncio que quieras aparecerá en 
                        lo más alto del listado de anuncios, permitiendo así que más personas puedan ver tu publicación.</em></p>
            
                    <div style="text-align: center;">
                        <h2 class="fw-bold" style="color: #28426B;"> 3€</h2>
                    </div>
                </div>
                </div>
            </div>  
                <style>
                    .pricing-container {
                        padding: 0 20vw;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                    .info {
                        margin-top: 30vh;

                    }

                    @media (max-width: 600px) {
                    .pricing-container {
                        margin: 20%;
                        display: block;
                        flex-direction: column;
                    }
                    .info {
                        margin-top: 10vh;
                    }
                    .card {
                        margin-top: 10vh;
                    }
                    }

                
                    .row {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: start;
                    }
                
                    .col {
                        flex: 1;
                        margin: 0 20px;
                    }
                
                    .card {
                        padding: 20px;
                        border: 1px solid #28426b30;
                        border-radius: 20px;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        transition: transform 0.2s;
                    }
                
                    .card:hover {
                        transform: scale(1.05);
                    }
                
                    .card1 {
                        background-color: #DAE5FF;
                    }
                
                    .card2 {
                        background-color: #BFD3FF;
                    }
                
                    .card3 {
                        background-color: #98B2E8;
                    }
                
                    .card4 {
                        background-color: #d2dfff;
                    }
                
                    .modal-body {

                        padding: 30px 15px;
                        text-align: left;
                    }
                
                    img {
                        height: 20px;
                        width: 20px;
                    }
                
                    h2 {
                        font-weight: bold;
                        color: #28426B;
                    }
                
                    p {
                        font-weight: bold;
                    }
                
                    em {
                        font-style: italic;
                    }
                
                    input {
                        margin-bottom: 10px;
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                    }
                
                    button {
                        padding: 10px 24px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 16px;
                        transition: background-color 0.3s;
                    }
                
                    button:hover {
                        background-color: #555;
                        color: white;
                    }
                </style>
                
                              
      </Paragraph>
    </div>
    </Container>
</section>

  