---
import Layout from '../layouts/LayoutAboutmark.astro';
import AboutmarkComponent from '../components/sections/Aboutmark.astro';
---

<Layout title="Costumer Agreement">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <AboutmarkComponent/>
	</main>
</Layout>