---
import Layout from '../layouts/LayoutCA.astro';
import CA from '../components/sections/CA.astro';
import PP from '../components/sections/PP.astro';
---

<Layout title="Costumer Agreement">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <CA/>
		<PP/>
	</main>
</Layout>