---
import Layout from '../layouts/LayoutChangelog.astro';
import ChangelogComponent from '../components/sections/Changelog.astro';
---

<Layout title="Costumer Agreement">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <ChangelogComponent/>
	</main>
</Layout>