---
import Layout from '../layouts/LayoutPricing.astro';
import PricingComponent from '../components/sections/Pricing.astro';
---

<Layout title="Costumer Agreement">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <PricingComponent/>
	</main>
</Layout>
