---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";
const footerNav1 = [
    {
        itemText:"Marketing",
        itemLink:"#"
    }
]

const footerSupport = [
    {
        itemText:"Despliegue S1",
        itemLink:"https://cohabify.onrender.com/"
    },
    {
        itemText:"Despliegue S2.0",
        itemLink:"https://s2-cohabify.onrender.com/"
    },
    {
        itemText:"Despliegue S2.1",
        itemLink:"https://s2-v2-cohabify.onrender.com/"
    },
    {
        itemText:"Despliegue S3.0",
        itemLink:"https://s3-cohabify.onrender.com/"
    },
    {
        itemText:"Despliegue S3.1",
        itemLink:"https://s3-v2-cohabify.onrender.com/"
    },
    {
        itemText:"Guías",
        itemLink:"https://github.com/Cohabify/CohabifyDocumentation/blob/S2/S2_markdown/4-Software-Guidelines.md"
    },
    {
        itemText:"FAQ",
        itemLink:"#"
    },
    {
        itemText:"Contacto",
        itemLink:"mailto: cohabify.soporte@gmail.com"
    }
]

---
<div class="mt-16"></div>
<footer class="relative  bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-28 rounded-t-3xl">
    <div class="absolute right-0 top-0 h-full w-full flex justify-end">
        <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>

      <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
        <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>
    <Container className="pb-8 relative overflow-auto">
        
        <span class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 blur-2xl opacity-20 w-24 h-16 sm:w-48 sm:h-36 rounded-full rotate-12 skew-x-6 bg-primary"></span>
        <div class="grid grid-cols-2 lg:grid-cols-3 lg:items-stretch gap-8 relative">
            <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
                <div class="h-full">
                    <a href="#" class="relative flex items-center gap-3">

                        <div class="inline-flex text-lg font-semibold text-heading-1">
                            Cohabify  
                        </div>
                        <div class="relative w-10 h-10 overflow-hidden flex rounded-xl">
                            <img src="/images/Logo Cohabify Cuadrado.png" alt="Hero image" width="2350" height="2359" class="lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96">
                        </div>
                    </a>
                    <Paragraph className={"mt-8"}>
                        Porque es más fácil vivir con quien conectas.
                    </Paragraph>
                </div>

                <!-- social links -->
                <div class="min-h-max flex items-center gap-4 text-heading-3 mt-8">
                    <!-- GitHub -->
                    <a href="https://github.com/Cohabify/Cohabify" class="transition hover:text-heading-1 hover:scale-105">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-5 h-5" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                        <span class="sr-only">GitHub link</span>
                    </a>
                    <!-- Instagram -->
                    <a href="https://www.instagram.com/cohabify.es" class="transition hover:text-heading-1 hover:scale-105">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"></path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11.9A3.9 3.9 0 1 1 11.1 8 3.9 3.9 0 0 1 15 11.9zm6 2.1a1.3 1.3 0 0 1-2.6 0"></path>
                        </svg>
                        <span class="sr-only">Instagram link</span>
                    </a>
                    <!-- Twitter -->
                    <a href="https://twitter.com/Cohabify" class="transition hover:text-heading-1 hover:scale-105">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M23 3a10.9 10.9 0 0 1-3.16 1.53A4.48 4.48 0 0 0 22.46 6a9.3 9.3 0 0 1-2.88.78A4.5 4.5 0 0 0 15.3 4a4.5 4.5 0 0 0-4.49 4.5v.57a12.94 12.94 0 0 1-9.5-4.79 4.49 4.49 0 0 0-.6 2.26 4.5 4.5 0 0 0 2 3.72 4.4 4.4 0 0 1-2-.57v.06a4.5 4.5 0 0 0 3.61 4.4 4.65 4.65 0 0 1-2 .08 4.5 4.5 0 0 0 4.2 3.12A9 9 0 0 1 2 18.54a12.7 12.7 0 0 0 7 2.06"></path>
                        </svg>
                        <span class="sr-only">Twitter link</span>
                    </a>
                    <!-- TikTok -->
                    <a href="https://www.tiktok.com/@cohabify" class="transition hover:text-heading-1 hover:scale-105">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
                            <path d="M12 2.04c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 18.41c-4.61 0-8.41-3.8-8.41-8.41s3.8-8.41 8.41-8.41 8.41 3.8 8.41 8.41-3.8 8.41-8.41 8.41z"/>
                            <path d="M13.45 8.04v3.51h2.85a4.49 4.49 0 0 1 .44 1.49c0 2.5-2.02 4.51-4.51 4.51a4.5 4.5 0 0 1-4.51-4.51h2.21a2.3 2.3 0 0 0 2.3 2.3 2.3 2.3 0 0 0 2.29-2.3 2.31 2.31 0 0 0-.14-.79h-4.44v-2.21h6.31z"/>
                        </svg>                                              
                        <span class="sr-only">TikTok link</span>
                    </a>                    
                    <!-- YouTube -->
                    <a href="https://www.youtube.com/@Cohabify" class="transition hover:text-heading-1 hover:scale-105">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29.08 29.08 0 0 0 1 11.75a29.08 29.08 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19a53.69 53.69 0 0 0 8.6.54 53.69 53.69 0 0 0 8.6-.54 2.78 2.78 0 0 0 1.94-2 29.08 29.08 0 0 0 .46-5.33 29.08 29.08 0 0 0-.46-5.33zM10 14.54V9l5.52 2.77L10 14.54z"></path>
                        </svg>
                        <span class="sr-only">YouTube link</span>
                    </a>
                </div>
            

            </div>

            <GroupFooterNav>
                
            </GroupFooterNav>

            <GroupFooterNav>
                <FooterNav title={"Soporte"} navItems={footerSupport}/>
            </GroupFooterNav>

        </div>
    </Container>
    <div class=" bg-gradient-to-tl from-box-bg py-2 relative">
        <Container>
            <div class="flex justify-between items-center gap-6 md:text-lg text-heading-3">
                <div>
                    &copy; <span id="year"></span> Cohabify.
                </div>
            </div>
        </Container>
    </div>
</footer>